*{
    margin-top: 1%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    font-family: sans-serif;
}


body{
    font-family: 'Open Sans', sans-serif;
}

.header-image{
    display: none;
}
.head-line{
    font-size: 20px;
    padding-left: 20px;
}
.head-line2{
    font-size: 15px;
}
.gruss{
    font-size: 20px;
}
.gruss-text{
    font-size: 12px;
}
.head-line-hours{
    font-size: 16px;
    padding-left: 40px;
}
.head-line-media{
    font-size: 16px;

}
.list{
    font-size: 12px;

}
.exemplare{
    margin-top: -20%;
}
.description{
    padding: 0;
    margin-left: 30px;
    margin-right: 50px;

}

.hours{
    font-size: 12px;
    padding-left: 40px;
}
.holidays{
    font-size: 12px;
    font-weight: bold;
    padding-left: 40px;
}
.costsNlending{
    font-size: 16px;
}
.costs{
    font-size: 14px;
}
.cost-text{
    font-size: 12px;
}
.lenting-time-text{
    font-size: 12px;
}
.lending-time{
    font-size: 14px;
}
.address{
    font-size: 16px;
    padding-left: 40px;

    margin-right: 50px;
}
.address-text{
    font-size: 12px;

}


.text-container{
    font-size: 12px;
}
.maps-container{
    display: none;

}

a{
    margin: 16px;
    text-decoration: none;
}

.lending{
    padding-left: 40px;
}
.legal-content{
    display:none;
}

nav{
    display: none;
}
navbar{
    margin-bottom: -20%;
}

nav ul{
    float: right;
}

nav ul li{
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a{

    font-size: 16px;
    text-decoration: none;
    padding: 20px;
    display: block;

    color: black;
    margin: 16px;
    font-weight: bold;

}

nav ul li ul{
    display: none;
    position: absolute;
    background-color: white;
}


.mail-link{
    width: 20px;
    height: 20px;
}


.bibicon{
    width: 20px;
    height: 20px;
    padding-right: 10px;

}

.media-container{
    padding-left: 40px;
}

/* für Bücher und film seite*/

*{
    margin-top: 1%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    font-family: sans-serif;
}

.name-site{
    height: 230px;
    width: 100%;
    margin-top: 30px;
    background-color: white;
}

.name-item{
    font-size: 28px;
    justify-content: center;
    align-items: center;
    padding-top: 60px;

}
.location{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;

}
.jugendbücher{

    padding-left: 40px;

}

.ausleihdauerbuch{

    padding-left: 40px;

}

table, th, td {
    padding: 80px;
    margin: auto;
    border: 5px solid black;
    border-collapse: collapse;
    width: 90%;
    height: 40%;
}
th{
    font-size: 20px;
}

.greg{
    width: 200px;
    height: 300px;
}
.parfum{
    width: 200px;
    height: 300px;
}
.nemo{
    width: 200px;
    height: 300px;
}
.schindler{
    width: 200px;
    height: 300px;
}
.gregExemplar{
    padding-left: 3%;
}
.nemoExemplar{
    padding-left: 3%;
}
.schindlerExemplar{
    padding-left: 3%;
}
.parfumExemplar{
    padding-left: 3%;
}
/* für team seite*/
.team-tabelle{
    padding: 80px;
    margin: auto;
    border: 5px solid black;
    border-collapse: collapse;
    width: 10%;
    height: 40%;
    margin-top: -10%;

}
.merkel{
    width: 150px;
    height: 200px;
}
.putin{
    width: 150px;
    height: 200px;
}
.kanye{
    width: 150px;
    height: 200px;
}
.trump{
    width: 150px;
    height: 200px;
}
.kim{
    width: 150px;
    height: 200px;
}
.kurz{
    width: 150px;
    height: 200px;
}
